{% extends 'base.html' %}

{% block title %}Merch Store{% endblock %}

{% block content %}

<h1 class="text-center mb-4">Transactions</h1> 
<u1 class="text-center mb-4">
  {% for transaction in transactions %}
    <li>
        {% if transaction.product %}
            {{ transaction.product.name }}
        {% else %}
            No product
        {% endif %}
        -
        {% if transaction.amount %}
            {{ transaction.amount }}
        {% else %}
            No amount
        {% endif %}
        pcs by 
        {% if transaction.buyer %}
            {{ transaction.buyer }}
        {% else %}
            No buyer
        {% endif %}
    </li>
{% empty %}
    <li>No transactions found.</li>

        

</u1>
{% endfor %}

{% endblock %}