{% extends 'base.html' %}
{% block title %} Blog {% endblock %}
{% block content %}
    <a href="{% url 'articles' %}" class="btn btn-primary">Go back to articles</a>
    <br>

    {% if user.is_authenticated %}
    {% if user.profile == article.author %}
    <a href="{% url 'article_update' article.pk  %}" class="btn btn-primary">Update Blog</a>
    {% endif %}
    {% endif %}


    {% if article.header_image %}
    <img src="{{ article.header_image.url }}" alt="Article Image">
    {% endif %}

    <h2 style="text-align:center;">{{article.title}}</h2>
    <hr>
    <div class="entry-box">
        <pre style="font-size:150%">{{article.entry}}</pre>
    </div>
    <hr>
    <p style="font-size:70%;">Created on: {{ article.created_on }}</p>
    <p style="font-size:70%;">Last Updated: {{ article.updated_on }}</p>

    <hr>
    Comments:
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comment</button>
      </form>
    <hr>

    {% for comment in article.article_comments.all %}
        <div>
            <strong>{{ comment.author.display_name }}</strong>
            <p>{{ comment.entry }}</p>
            <small>{{ comment.created_on }}</small>
        </div>
        <hr>
    {% endfor %}
    <hr>
{% endblock %}
