{% extends 'base.html' %}
{% block title %} Blog List {% endblock %}
{% block content %}

<a href="{% url 'article_create' %}" class="btn btn-primary">Create New Blog</a>
<br><br>
Welcome {{user.profile.display_name}}
<br>

<h2>Authorted Articles:</h2>
{% for category in object_list %}
    {% for article in category.category.all %}
        {% if user.profile == article.author %}
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            <br>
        {% endif %}
    {% endfor %}
{% endfor %}
<hr>

<h1>All Articles</h1>

{% for category in object_list %}
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>
        {% for article in category.category.all %}
            {% if user.profile != article.author %}
            <tr>
                <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
                <br>
            </tr>
            {% endif %}
        {% endfor %}
    <hr>
{% endfor %}
{% endblock %}
