{% extends 'base.html' %}
{% block title %} Forum List {% endblock %}
{% block content %}
<h2>Forum Site</h2>
    <h3>My Threads</h3>
    {% for thread in my_threads %}
        <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
        <p></p>
    {% endfor %}

    <h3>All Threads</h3>
    {% for category in object_list %}
        <h3>Topic: {{ category.name }}</h3>
            {% for thread in other_threads %}
            <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
            <p></p>
            {% endfor %}
    {% endfor %}
    <hr>
    <a href = '{% url "forum:thread_create" %}'>Create a new thread!</a>
{% endblock %}